* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1020;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: rgba(168, 85, 247, 0.15);
  border-radius: 50%;
  filter: blur(120px);

  top: -100px;
  left: -100px;

  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: rgba(96, 165, 250, 0.15);
  border-radius: 50%;
  filter: blur(120px);

  bottom: -100px;
  right: -100px;

  z-index: -1;
}